<!DOCTYPE html>
<html>
  <head>
    <title>AllAboutUniverseRtc</title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="ui small inverted menu">
      <div class="ui container">
        <%= link_to 'Chatroom', root_path, class: "item" %>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
          <div class="ui simple dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
            <% if logged_in? %>
              <%= link_to 'Log out', logout_path, method: :delete, class: "item" %>
              <%else%>
              <%= link_to 'Login', login_path, class: "item" %>
              <%end%>
              
            </div>
          </div>
          <% if !logged_in? %>
          <div class="item">
          <%= link_to "log in" , login_path, class: "ui primary button" %>
          </div>
          <%end%>
        </div>
      </div>
    </div>
<div class="ui container">
<%= render 'layouts/messages'%>
    <%= yield %>

    <div class="ui inverted vertical center aligned footer segment nice">
    <div class="ui container">
        Real-Chat    All Rights Reserved
    </div>
</div>
    </div>


  </body>
</html>
